 <div class="sidebar-module">
                <h4 class="border-bottom">Agent Information</h4>
                <div class="media media-mod-3">
                  <div class="media-left img-width-auto">
                    <img src="/new/images/agency-2.jpg" alt="" width="100" height="100">
                  </div>
                  <div class="media-body">
                    <h5 class="text-sushi">Heather Turner</h5>
                    <p>Founder, Listing Agent</p>
                    <dl class="dl-horizontal-mod-1 text-ubold text-abbey">
                      <dt>tel.</dt>
                      <dd>
                        <a href="callto:#">1-800-1234-567</a>
                      </dd>
                    </dl>
                  </div>
                </div>
                <p>She is our leading specialist in everything concerning Real Estate and property management.</p>
                <a href="agent-personal.html" class="btn btn-primary btn-sm">get in touch</a>
              </div>
