     <h4 class="border-bottom offset-8">Reviews</h4>
                <div class="media media-mod-2 comment">
                  <div class="media-left round">
                    <img src="/new/images/post_page-4.jpg" alt="" width="70" height="70" class="round">
                  </div>
                  <div class="media-body">
                    <p class="h6 text-sushi text-ubold">Marilyn Taylor</p>
                    <time datetime="2016" class="fa-calendar">May 21, 2016 at 5:50 pm</time>
                    <p class="text-light">I just don't know how to describe your services... They are extraordinary! I am quite happy with them! Just keep up going this way!</p>
                    <a href="#" class="text-sushi">
                      <span class="fa-mail-reply icon"></span>
                      <span>Reply</span>
                    </a>
                  </div>
                </div>
                <div class="media media-mod-2 comment comment-repost">
                  <div class="media-left round">
                    <img src="/new/images/post_page-5.jpg" alt="" width="70" height="70" class="round">
                  </div>
                  <div class="media-body">
                    <p class="h6 text-sushi text-ubold">Heather Turner</p>
                    <time datetime="2016" class="fa-calendar">May 21, 2016 at 6:23 pm</time>
                    <p class="text-light">Thank you!</p>
                    <a href="#" class="text-sushi">
                      <span class="fa-mail-reply icon"></span>
                      <span>Reply</span>
                    </a>
                  </div>
                </div>
                <h4 class="border-bottom offset-8">Write Review</h4>
                <!-- RD Mailform-->
                <form class="text-left offset-11">
                  <div class="row">
                    <div class="col-xs-12 col-sm-6">
                      <div class="form-group">
                        <label for="contact-name" class="form-label">Enter your name</label>
                        <input id="contact-name" type="text" name="name" data-constraints="@Required" class="form-control">
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <div class="form-group">
                        <label for="contact-email" class="form-label">Enter your e-mail</label>
                        <input id="contact-email" type="email" name="email" data-constraints="@Required @Email" class="form-control">
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label for="contact-message" class="form-label">Enter your message</label>
                        <textarea id="contact-message" name="message" data-constraints="@Required" class="form-control"></textarea>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <button type="submit" class="btn btn-sushi btn-sm">Send message</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
