  <div class="sidebar-module">
                <h4 class="border-bottom">Partage</h4>
                <div class="icon-group">
                  <a href="#" class="icon icon-sm icon-social fa-facebook"></a>
                  <a href="#" class="icon icon-sm icon-social fa-twitter"></a>
                  <a href="#" class="icon icon-sm icon-social fa-google-plus"></a>
                </div>
              </div>
