<section class="section-md text-center text-sm-left bg-dark">
            <div class="container">
                <h2>Popular categories</h2>
                <hr>
                <div class="row offset-11">
                    <div class="col-xs-12 col-sm-6">
                        <a href="single-property-page.html" class="img-thumbnail-variant-1">
                            <img src="{{ asset('/new/images/categories-1.jpg')}}" alt="" width="570" height="380">
                            <div class="caption">
                                <h4 class="text-white">Studio Apartments</h4>
                                <p>54 properties</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <a href="single-property-page.html" class="img-thumbnail-variant-1">
                            <img src="{{ asset('/new/images/categories-2.jpg')}}" alt="" width="570" height="380">
                            <div class="caption">
                                <h4 class="text-white">Luxury Houses</h4>
                                <p>36 properties</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <a href="single-property-page.html" class="img-thumbnail-variant-1">
                            <img src="{{ asset('/new/images/categories-3.jpg')}}" alt="" width="570" height="380">
                            <div class="caption">
                                <h4 class="text-white">Cozy Houses</h4>
                                <p>61 properties</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <a href="single-property-page.html" class="img-thumbnail-variant-1">
                            <img src="{{ asset('/new/images/categories-4.jpg')}}" alt="" width="570" height="380">
                            <div class="caption">
                                <h4 class="text-white">With Swimming Pool</h4>
                                <p>24 properties</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
